@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Chirp', sans-serif;
}