/* Container for tone selector dropdown and generate button */
.tone-selector-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  align-items: center;
  overflow-y: auto;
}

/* Styling for the tone selection dropdown */
#toneSelect, #langSelect, #lengthSelect {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Chirp-Regular', sans-serif;
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  background-color: Transparent;
  color: var(--model-color, #1da1f2);
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
}

#lengthSelect {
  padding: 8px 18px 8px 0px;
}

#lengthSelect:hover {
  padding: 8px 18px;
}

/* Hover effect for the dropdown */
#toneSelect:hover, #langSelect:hover, #lengthSelect:hover {
  background-color: transparent;
  color: #FFFFFF;
}

#toneSelect:focus, #toneSelect:focus-within, #langSelect:focus, #langSelect:focus-within, #lengthSelect:focus, #lengthSelect:focus-within {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  color: var(--model-color, #1da1f2);
}

/* Styling for the generate reply button */
.generate-reply-btn {
  padding: 8px 18px;
  font-size: 16px;
  font-family: 'Chirp-Regular', sans-serif;
  font-weight: bolder;
  border-radius: 40px;
  background-color: transparent;
  color: var(--model-color, #1da1f2);
  cursor: pointer;
  text-align: right;
  border: none;
  position: absolute;
  right: 0;
  transition: background-color 1s ease, transform 1s ease;
}

.generate-reply-btn.error {
  background-color: #ff4d4d;
  cursor: not-allowed;
  pointer-events: none;
}

/* Hover effect for generate reply button */
.generate-reply-btn:hover {
  background-color: transparent;
  color: #FFFFFF;
}

/* Styling for the mic button */
.mic-btn {
  padding: 8px 18px;
  font-size: 20px;
  font-family: 'Chirp-Regular', sans-serif;
  font-weight: bolder;
  border-radius: 40px;
  color: var(--model-color, #1da1f2);
  background-color: transparent;
  cursor: pointer;
  text-align: right;
  border: none;
  transition: background-color 1s ease, transform 1s ease;
}

/* .mic-btn:hover {
  background-color: transparent;
  color: #FFFFFF;
} */

/* Styling for the Stop button */
.stop-btn {
  background-color: #ffffff;
  color: #ff4d4d;
  padding: 8px 18px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Chirp-Regular', sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: none;
}

/* Hover effect for the Stop button */
.stop-btn:hover {
  background-color: #ff4d4d; 
  color: #ffffff;
}

textarea {
  font-family: 'Chirp-Regular', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--model-color, #1da1f2);
  background-color: transparent;
  border: none;
  resize: none;
  border-radius: 25px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  width: 10px;
}

textarea:hover, textarea:focus { 
  width: max-content;
}

.copy-tweet-btn{
  color: var(--model-color, #1da1f2);
  background-color: transparent;
  padding: 8px 18px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Chirp-Regular', sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}